TEST_AGENT_OAUTH_USER= # Auth0 username for testing agent (must be a real user in the Auth0 tenant)
TEST_AGENT_OAUTH_PASS= # Auth0 password for testing agent (must be a real user in the Auth0 tenant)
TEST_PUBLIC_CUSTOMERID= # Public customer ID for testing
TEST_PUBLIC_DISCORDID= # Public Discord ID for testing (must be a real user in Discord)
TEST_PUBLIC_COMMISSIONID= # Public commission ID for testing
TEST_URL=http://localhost:3000 # Base URL for testing (e.g., local development server)