# Credentials @ MercadoPago # https://www.mercadopago.com.ar/developers/panel/app
NUXT_MP_PUBLIC= # Public token
NUXT_MP_SERVICE= # Secret token
NUXT_MP_MARKETPLACE= # Marketplace number
NUXT_MP_ENDPOINT_BASE=
# Credentials @ PayPal # https://developer.paypal.com/dashboard/
NUXT_PP_CID= # Client ID
NUXT_PP_SID= # Secret token
NUXT_PP_ENDPOINT_BASE=
# GCP Bucket Credentials
GCP_PROJECT_SERVICE_KEY_PATH= # GCP credentials path, leave this empty for production
GCP_BUCKET_AVATARFILES_NAME= # GCP Bucket name
GCP_BUCKET_AVATARFILES_TEMP_NAME= # GCP Bucket name for temporary files (used for uploads)
# Agent Session Manager (Auth0 OAuth)
NUXT_OAUTH_AUTH0_CLIENT_ID=
NUXT_OAUTH_AUTH0_CLIENT_SECRET=
NUXT_OAUTH_AUTH0_DOMAIN=
NUXT_OAUTH_AUTH0_REDIRECT_URL= # use "https://localhost:3000/api/auth/auth0" for local env.
NUXT_SESSION_PASSWORD= # Generate a long random string for this one!
# Public Session Manager (Discord OAuth)
NUXT_FRONTOFFICE_OAUTH_DISCORD_CLIENT_ID=
NUXT_FRONTOFFICE_OAUTH_DISCORD_CLIENT_SECRET=
NUXT_FRONTOFFICE_OAUTH_DISCORD_REDIRECT_URL= # use "https://localhost:3000/api/public/auth/discord" for local env.
NUXT_FRONTOFFICE_SESSION_PASSWORD= # Generate a long random string for this one!
# Public metadata
NUXT_PUBLIC_CREATOR_MARKET_NAME= # use "Xaeky Avatars"
NUXT_PUBLIC_CREATOR_CALLBACK_URI= # use "https://localhost:3000"
# Dashboard settings
NUXT_BACKOFFICE_SKIP_ROLES=false # Should app check for user's role/permissions
NUXT_BACKOFFICE_MONGO_DB= # Mongo DB name
NUXT_BACKOFFICE_MONGO= # Mongo connection URL
NUXT_BACKOFFICE_SERICE= # Random string, used as token for external services apps (Geisha)
# General
NUXT_PUBLIC_REDFLARE_ENV= # development | staging | production | etc...
NUXT_PORT= # 3000 by default