# Credentials @ MercadoPago # https://www.mercadopago.com.ar/developers/panel/app
NUXT_MP_PUBLIC= # Public token
NUXT_MP_SERVICE= # Secret token
NUXT_MP_MARKETPLACE= # Marketplace number
NUXT_MP_ENDPOINT_BASE=
# Credentials @ PayPal # https://developer.paypal.com/dashboard/
NUXT_PP_CID= # Client ID
NUXT_PP_SID= # Secret token
NUXT_PP_ENDPOINT_BASE=
# OAuth
NUXT_OAUTH_AUTH0_CLIENT_ID=
NUXT_OAUTH_AUTH0_CLIENT_SECRET=
NUXT_OAUTH_AUTH0_DOMAIN=
NUXT_OAUTH_AUTH0_REDIRECT_URL= # use "https://localhost:3000/api/auth/auth0" for local env.
NUXT_SESSION_PASSWORD= # Generate a long random string for this one!
# Supabase
NUXT_SUPABASE_BASE= # Supabase Project Base URL
NUXT_SUPABASE_ANON=
NUXT_SUPABASE_SERV=
# Public metadata
NUXT_PUBLIC_CREATOR_MARKET_NAME= # use "Xaeky Avatars"
NUXT_PUBLIC_CREATOR_CALLBACK_URI= # use "https://localhost:3000"
# For Supabase type generating
SUPABASE_REF= # Project ID
DB_URL= # Postgres DSN URI