# Required key for platform encryption/decryption ops
ENCRYPTION_KEY=

# Required secrets to sign JWT tokens
AUTH_SECRET=

# Postgres creds
POSTGRES_PASSWORD=infisical
POSTGRES_USER=infisical
POSTGRES_DB=infisical

# Required
DB_CONNECTION_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Redis
REDIS_URL=redis://redis:6379

# Website URL
SITE_URL=http://localhost:8080