@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Inconsolata', monospace;
}

pre:not(.shiki) { @apply font-mono bg-neutral-800 border border-neutral-700 overflow-x-auto p-4 rounded-md; }
pre.shiki { @apply font-mono p-4 rounded-md; }